// Firebase Credentials (Required for local manual push & Google Indexing)
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-service-account-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour-Key-Here\n-----END PRIVATE KEY-----\n"

// Optional: For Google Indexing Script
GOOGLE_INDEXING_KEY='{"type": "service_account", "project_id": "...", ...}'

// Local Development
RUN_KEYSTATIC=true