---
import BaseLayout from "@/layouts/base.astro";
import { getEntry } from "astro:content";
import Headlines from "@/pages/_home/headlines.astro";
import LatestNews from "@/pages/_home/latestNews.astro";
import Authors from "@/pages/_home/authors.astro";
import { articlesHandler } from "@/lib/handlers/articles";
import { getImage } from "astro:assets";

const entry = await getEntry("views", "home");
const mainHeadlineArticle = await articlesHandler.mainHeadline();

let preloadImage = mainHeadlineArticle?.data?.cover;

if (!entry) {
  return Astro.redirect("/404");
}
---

<BaseLayout entry={entry} preloadImage={preloadImage}>
  <h1 class="sr-only">{entry.data.seo?.metaTitle || "OmnySports - Your Ultimate Sports News and Insights Portal"}</h1>
  <Headlines />
  <LatestNews />
  <Authors />
</BaseLayout>
